* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: #5d5d7d;
    font-weight: 400;
}

.warapper{
      height: 100vh;
      width: 100vw;
}

.container-ridth {
       display: inline-block;
       width: 60%;
       margin-top: 4%;
       padding: 161px;
       }

.container-left {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.2);
    height: 100vh;
    width: 25vw;
    position: absolute;
   
}
img{
    position: relative;
    top: 140px;
    right: 131px;
}
h1{
    font-size: 70px;
    line-height: 87px;
    width: 368px;
    
}

p{
    font-size: 25px;
    line-height: 39px;
    opacity: 0.6;
    margin: 49px 0;
    width: 540px;
}


button{
    width: 115px;
    height: 45px;
    background: #9499ea;
    box-shadow: opx 10px 24px rgba(148, 153, 234, 0.09);
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
   opacity: .8;  
}

button:active{
    opacity: .5;
}

a{
    margin-right: 43px;
    cursor: pointer;
}

a:hover:nth-child(1){
     color: red;
    }

    a:hover{
        color:rgb(8, 8, 8);
    }

    header{
        margin:24px 0 0 57px
    }

    @media screen and (max-width: 900px) { 
        .container-ridth{
            width: 100%;
            height: 50%;
            padding: 0;
            margin: 0;
        }

        .container-left{
            display: block;
            height: auto;
            width: 100%;
            position: static; 
            padding: 40px;
        
        }
        img{
            position: static;
            width: 90%;
        }
    

    h1{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }
  
    button{
        margin: 0 auto;
        display: block;
    }

    }

    @media screen and (max-width: 330px){
        .container-ridth{
            height: 70%;
        }
    }